<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linewow.xhyy.forfunapp">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.ForFunApp"
        android:theme="@style/AppTheme">
        <activity android:name=".FrameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.newsdetail.NewsDetailActivity"
            android:theme="@style/AppThemePink"/>
        <activity android:name="com.linewow.xhyy.funlibrary.activity.BeautyPhotoActivity"
            android:theme="@style/Look"></activity>

        <activity android:name=".UI.zone.ZoneActivity" />
        <activity android:name=".UI.publish.PublishActivity" />
    </application>

</manifest>